# Exercises

There are three exercises in this notebook:

1. Use the cross-validation method to test the linear regression with different $\alpha$ values, at least three.
2. Implement a SGD method that will train the Lasso regression for 10 epochs.
3. Extend the Fisher's classifier to work with two features. Use the class as the $y$.

In [6]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler

## 1. Cross-validation linear regression

You need to change the variable ``alpha`` to be a list of alphas. Next do a loop and finally compare the results.

In [7]:
x = np.array([188, 181, 197, 168, 167, 187, 178, 194, 140, 176, 168, 192, 173, 142, 176]).reshape(-1, 1).reshape(15,1)
y = np.array([141, 106, 149, 59, 79, 136, 65, 136, 52, 87, 115, 140, 82, 69, 121]).reshape(-1, 1).reshape(15,1)
x = np.asmatrix(np.c_[np.ones((15,1)),x])

I = np.identity(2)
alphas = [0.1, 0.01, 1, 10]

weights_dict = {}  

for alpha in alphas:
    w = np.linalg.inv(x.T*x + alpha * I)*x.T*y
    w=w.ravel()
    weights_dict[alpha] = np.array(w).flatten() 

results_df = pd.DataFrame(weights_dict.items(), columns=['Alpha', 'Weights'])
results_df[['Intercept', 'Slope']] = pd.DataFrame(results_df['Weights'].tolist(), index=results_df.index)
results_df.drop(columns=['Weights'], inplace=True)

results_df

   Alpha   Intercept     Slope
0   0.10 -101.723971  1.169788
1   0.01 -167.855340  1.544160
2   1.00  -20.590447  0.710486
3  10.00   -2.291063  0.606881

## 2. Implement based on the Ridge regression example, the Lasso regression.

Please implement the SGD method and compare the results with the sklearn Lasso regression results.

In [ ]:
def sgd(X, y, alpha):
    pass

In [ ]:
x = np.array([188, 181, 197, 168, 167, 187, 178, 194, 140, 176, 168, 192, 173, 142, 176]).reshape(-1, 1).reshape(15,1)
y = np.array([141, 106, 149, 59, 79, 136, 65, 136, 52, 87, 115, 140, 82, 69, 121]).reshape(-1, 1).reshape(15,1)

x = np.asmatrix(np.c_[np.ones((15,1)),x])

I = np.identity(2)
alpha = 0.1 


w = np.linalg.inv(x.T*x + alpha * I)*x.T*y # update this line
w=w.ravel()

## 3. Extend the Fisher's classifier

Please extend the targets of the ``iris_data`` variable and use it as the $y$.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris

iris_data = load_iris()
iris_df = pd.DataFrame(iris_data.data,columns=iris_data.feature_names)
iris_df_target = pd.DataFrame(iris_data.target)

x = iris_df[['sepal width (cm)', 'sepal length (cm)']].values
y = iris_df_target.values

dataset_size = np.size(x)

mean_x, mean_y = np.mean(x), np.mean(y)

SS_xy = np.sum(y * x) - dataset_size * mean_y * mean_x
SS_xx = np.sum(x * x) - dataset_size * mean_x * mean_x

a = SS_xy / SS_xx
b = mean_y - a * mean_x


y_pred = a * x + b

final = pd.DataFrame(y_pred, columns=["", ""])
final

0    0.924785  1.051418
1    0.885212  1.035589
2    0.901042  1.019760
3    0.893127  1.011845
4    0.932700  1.043504
..        ...       ...
145  0.885212  1.178051
146  0.845640  1.146393
147  0.885212  1.162222
148  0.916871  1.138479
149  0.885212  1.114735

[150 rows x 2 columns]